<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="light-bg">

<div class="card">
    <div style="display:flex; justify-content:space-between; align-items:center;">
        <h2>Welcome</h2>
        <div style="font-size:24px;">📧</div>
    </div>

    <p style="margin-top:5px; color:gray;">
        {{ session['user'] }}
    </p>

    <hr style="margin:20px 0;">

    <!-- DIRECT LINK INSTEAD OF FETCH -->
    <a href="/start">
        <button style="font-size:18px;">
            ➕ Start Attendance Capture
        </button>
    </a>

    <br><br>

    <a href="/logout">Logout</a>
</div>

</body>
</html>
